.game-list {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     padding: 15px;
}

.game-list-item {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 5px;
    margin: 5px;
    padding: 5px 15px;
    min-width: 250px;
    flex: 1 1 0;
}

.game-list-item:hover {
    background-color: rgb(241, 241, 241);
}

.game-list-item>.image-container {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.game-list-item img {
    max-height: 100%;
    max-width: 100%;
}

.game-list-item img {
    max-height: 100%;
    max-width: 100%;
}

