body {
    background: black;
}
.game-list-container {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin:0px;
    padding:3px;
    background-color: RebeccaPurple;
    overflow: auto;
}

.game-list-container li {
    padding: 10px 25px;
    background-color: plum;
    margin: 1px;
    cursor: pointer;
    color: darkviolet;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    flex-grow: 1;
    text-align: center;
    transition: background 0.25s;
}

.game-list-container li.selected {
    background-color: darkviolet;
    color: white;
}

.ReactTable {
    border: none;
}

.ReactTable .rt-thead.-header {
    box-shadow: 0 2px 15px 0 rgba(255, 20, 145, 0.3);
}

.ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .rt-td {
    border-right: 1px solid white;
    transition: box-shadow .3s cubic-bezier(.175,.885,.32,1.275);
}

.ReactTable .rt-tr.-even {
    background-color: rgba(255, 255, 255, 0.1);
}

.ReactTable .rt-tbody .rt-tr-group {
    border-bottom: solid 1px rgba(255,255,255,0.05);
}

.ReactTable .rt-tbody .rt-td {
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}

.pagination-bottom {
    background-color: rgb(19, 19, 19);
}

.ReactTable .-pagination {
    box-shadow: 0 0 15px 0 rgba(255,255,255,0.1);
    border-top: 5px solid rgba(255,255,255,0.1);
}

.ReactTable .-pagination .-btn {
    color: white;
    background-color: rgb(65, 65, 65);
}

.ReactTable .-pagination .-btn:hover {
    color: white;
    background-color: gray;
}

@media screen and (max-width: 600px) {
    .game-list-container {
        flex-wrap: nowrap;
        overflow: auto;
    }

    .game-list-container li {
        flex-shrink: 0;
    }
}