@font-face {
  font-family: 'PageTitle';
  src: url('./assets/fonts/NightmareCodehack.otf')
}
body {
  margin:0px;
  padding:0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button {
  background-color: plum;
  color: darkviolet;
  border: 1px solid rgb(70, 69, 69);
  padding: 5px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.25s, color 0.25s;
}

.button:hover {
  background-color: darkviolet;
  color: white;
}

.wrapper {
  width: 960px;
  margin: 0px auto;
}

header {
  border-bottom: 2px solid DeepPink;
  display: flex;
}

header h1 {
  align-self:center;
  font-family: PageTitle;
  font-size: 40pt;
  margin: 10px 20px 0px;
  padding: 0px;
  color: DeepPink;
}

header .hamburger-menu {
  display: none;
  align-self:flex-end;
  font-size: 20pt;
  color: DeepPink;
  margin: 0px 20px 10px;
  border: none;
  background: none;
}

header .hamburger-menu:focus {
  outline:none;
}

header nav {
  display: flex;
  align-self:flex-end;
}

header nav.nav-hide {
  display: inherit;
}

header a {
  text-decoration: none;
  color:inherit;
  padding: 7px 35px;
  font-weight: bold;
}
header a.active {
  background-color: DeepPink;
  color: white;
}


@media screen and (max-width: 960px) {
  .wrapper {
    width: 100%;
    margin: 0px;
  }

  header {
    justify-content: space-between;
  }

  header .hamburger-menu {
    display: inline-block;
  }

  header nav {
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 72px;
    background-color: white;
    border: 1px solid gray;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, .3);
    z-index: 10;
    width: 100%;
  }

  header nav.nav-hide {
    display: none;
  }
}